{{- range $name, $config := .Values.renderConfig.services }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  # Tên Ingress đặt theo tên Service để dễ quản lý
  name: {{ $name }}-ingress
  namespace: {{ $.Release.Namespace }}
  annotations:
    # 1. Strip Path (Mặc định là true nếu không khai báo)
    konghq.com/strip-path: {{ if hasKey $config "strip_path" }}{{ $config.strip_path | quote }}{{ else }}"true"{{ end }}
    
    # 2. Protocol (Mặc định là http)
    konghq.com/protocols: {{ $config.protocol | default "http" | quote }}

    # 3. Gắn Plugins (Nếu có)
    # Ví dụ: plugins: "rate-limit, key-auth"
    {{- if $config.plugins }}
    konghq.com/plugins: {{ $config.plugins }}
    {{- end }}

spec:
  ingressClassName: {{ $.Values.ingressClassName }}
  rules:
    - http:
        paths:
        {{- range $path := $config.paths }}
          - path: {{ $path }}
            pathType: Prefix
            backend:
              service:
                name: {{ $name }} # Trỏ về Service K8s cùng tên
                port:
                  number: {{ $config.port | default 80 }}
        {{- end }}
{{- end }}